{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    <link rel="stylesheet" href="{{ asset('css/host_tables/index.css') }}">

{% endblock %}
{% block navbar %}
{% endblock %}
{% block body %}

    <main class="mainHome">

        <h1>Trouvez une table d'hôte</h1>

        <div class="formHome needs-validation col-md-4">

            {{ form_start(searchForm) }}

            <div class="form-group col-md-12">

                {{ form_label(searchForm.city) }}
                {{ form_widget(searchForm.city) }}

            </div>

            <div class="form-group row col-md-12">

                <div class="form-group col-md-6">
                    {{ form_label(searchForm.date) }}
                    {{ form_widget(searchForm.date) }}
                </div>

                <div class="form-group col-md-5">
                    {{ form_label(searchForm.time) }}
                    {{ form_widget(searchForm.time) }}
                </div>

            </div>

            <div class="form-group col-md-12">

                {{ form_label(searchForm.seats) }}
                {{ form_widget(searchForm.seats) }}

            </div>

            <div class="form-group col-md-12">
                {{ form_label(searchForm.style) }}
                {{ form_widget(searchForm.style) }}
            </div>

            <div class="preferences">

                <div class="form-check form-check-inline">
                    {{ form_label(searchForm.vegetarien) }}
                    {{ form_widget(searchForm.vegetarien) }}
                </div>
                <div class="form-check form-check-inline">
                    {{ form_label(searchForm.vegan) }}
                    {{ form_widget(searchForm.vegan) }}
                </div>
                <div class="form-check form-check-inline">
                    {{ form_label(searchForm.sansgluten) }}
                    {{ form_widget(searchForm.sansgluten) }}
                </div>

            </div>

            <div class="form-group col-md-12">

                {{ form_label(searchForm.price) }}
                {{ form_widget(searchForm.price) }}

            </div>

            <div class="form-group col-md-6">

                {{ form_end(searchForm) }}

            </div>

        </div>


    </main>

{% endblock %}
{% block footer %}{% endblock %}
