{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">

{% endblock %}

{% form_theme searchForm 'bootstrap_4_layout.html.twig' %}
{% block navbar %}
    <nav id="navbar">
        <ul>
            <li><a href="{{ path('home') }}">La Table du Milieu</a></li>
            <li>
                {% if is_granted('ROLE_USER') %}
                    <div id="RightNavBar">
                        <a href="{{ path('user_show') }}"><img id="imgAccount" src="{{ asset('/img/Unknown.png') }}"></a>
                        <a href="{{ path('app_logout') }}">DECONNEXION</a>
                    </div>
                {% else %}<a href="{{ path('app_login') }}">CONNEXION</a>{% endif %}
            </li>
        </ul>
    </nav>
{% endblock %}
{% block body %}

    <main class="mainHome">

        <h1>Trouvez une table d'hôte</h1>

        <div class="formHome needs-validation col-md-3">

            {{ form_start(searchForm) }}

            <div class="form-group col-md-10">

                {{ form_label(searchForm.city) }}
                {{ form_widget(searchForm.city) }}

            </div>

            <!--

            <div class="form-group row col-md-12">

                <div class="form-group col-md-6">
                    {{ form_label(searchForm.date) }}
                    {{ form_widget(searchForm.date) }}
                </div>

                <div class="form-group col-md-6">
                    {{ form_label(searchForm.time) }}
                    {{ form_widget(searchForm.time) }}
                </div>

            </div>

            -->

            <div class="form-group row col-md-10">

                <!--

                <div class="form-group col-md-5">

                    {{ form_label(searchForm.seats) }}
                    {{ form_widget(searchForm.seats) }}

                </div>

                -->

                <div class="form-group col-md-12">
                    {{ form_label(searchForm.cook_style) }}
                    {{ form_widget(searchForm.cook_style) }}
                </div>

            </div>

            <div class="preferences">

                <div class="form-check form-check-inline">
                    {{ form_label(searchForm.vege) }}
                    {{ form_widget(searchForm.vege) }}
                </div>
                <div class="form-check form-check-inline">
                    {{ form_label(searchForm.vegan) }}
                    {{ form_widget(searchForm.vegan) }}
                </div>
                <div class="form-check form-check-inline">
                    {{ form_label(searchForm.sansgluten) }}
                    {{ form_widget(searchForm.sansgluten) }}
                </div>

            </div>

            <!--

            <div class="form-group col-md-12">

                {{ form_label(searchForm.price) }}
                {{ form_widget(searchForm.price) }}

            </div>

            -->

            <div class="form-group col-md-6">

                {{ form_end(searchForm) }}

            </div>

        </div>


    </main>

{% endblock %}
{% block footer %}

    <footer></footer>

{% endblock %}
