{% extends 'base.html.twig' %}

{% block title %}Bookings index{% endblock %}

{% block body %}
    <h1>Bookings index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Seats</th>
                <th>Name</th>
                <th>Health</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.date ? booking.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.seats }}</td>
                <td>{{ booking.name }}</td>
                <td>{{ booking.health ? booking.health|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('bookings_show', {'id': booking.id}) }}">show</a>
                    <a href="{{ path('bookings_edit', {'id': booking.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bookings_new') }}">Create new</a>
{% endblock %}
