{% extends 'base.html.twig' %}

{% block title %}HostTables index{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/host_tables/index.css') }}">
{% endblock %}
{% block body %}
    <header>
        <div id="barreHaut">
            <!-- Attente d'ajout de la barre 'Mon Compte' -->
            <div id="entete">
                <div id="nomSite">LA TABLE DU MILIEU</div>
                <div id="recherche"><input type="search" placeholder="Recherche..." id="find"></div>
                Mon compte
            </div>
            <div id="zoneFiltre">
                <div id="menu">
                    <ul>
                        <li class="pere"><a href="#">Localisation</a>
                            <ul>
                                <li><input type="text" placeholder="Ville, Code Postal" id="cpVille"></li>
                            </ul>
                        </li>
                        <li class="pere"><a href="#">Ambiance</a>
                            <ul>
                                <li><a href="">
                                        <input id="tradition" type="checkbox" checked>
                                        <label for="tradition">Traditionnelle</label>
                                    </a></li>
                                <li><a href="">
                                        <input id="gastro" type="checkbox" checked>
                                        <label for="gastro">Gastronomique</label>
                                    </a></li>
                                <li><a href="">
                                        <input id="bistrot" type="checkbox" checked>
                                        <label for="bistrot">Bistrot</label>
                                    </a></li>
                                <li><a href="">
                                        <input id="asian" type="checkbox" checked>
                                        <label for="asian">Asiatique</label>
                                    </a></li>
                                <li><a href="">
                                        <input id="indienne" type="checkbox" checked>
                                        <label for="indienne">Indienne</label>
                                    </a></li>
                                <li><a href="">
                                        <input id="italia" type="checkbox" checked>
                                        <label for="italia">Italienne</label>
                                    </a></li>
                                <li><a href="">
                                        <input id="mexico" type="checkbox" checked>
                                        <label for="mexico">Mexicaine</label>
                                    </a></li>
                                <li><a href="">
                                        <input id="liban" type="checkbox" checked>
                                        <label for="liban">Libanaise</label>
                                    </a></li>
                                <li><a href="">
                                        <input id="africain" type="checkbox" checked>
                                        <label for="africain">Africaine</label>
                                    </a></li>
                            </ul>
                        </li>
                        <li class="pere"><a href="#">Régime alimentaire</a>
                            <ul>
                                <li><a href="">
                                        <input id="vegetarien" type="checkbox" checked>
                                        <label for="vegetarien">Végétarien</label>
                                    </a></li>
                                <li><a href="">
                                        <input id="vegan" type="checkbox" checked>
                                        <label for="vegan">Vegan</label>
                                    </a></li>
                                <li><a href="">
                                        <input id="noGluten" type="checkbox" checked>
                                        <label for="noGluten">Sans gluten</label>
                                    </a></li>
                            </ul>
                        </li>
                        <li class="pere"><a href="#">Budget</a>
                            <ul>
                                <li><a href="">
                                        <input id="prix1" type="checkbox" checked>
                                        <label for="prix1">- de 20€</label>
                                    </a></li>
                                <li><a href="">
                                        <input id="prix2" type="checkbox" checked>
                                        <label for="prix2">De 20 à 30€</label>
                                    </a></li>
                                <li><a href="">
                                        <input id="prix3" type="checkbox" checked>
                                        <label for="prix3">De 30 à 40€</label>
                                    </a></li>
                                <li><a href="">
                                        <input id="prix4" type="checkbox" checked>
                                        <label for="prix4">+ de 40€</label>
                                    </a></li>
                            </ul>
                        </li>
                        <li class="pere"><a href="#">Tri par...</a>
                            <ul>
                                <li><a href="">Le mieux noté</a></li>
                                <li><a href="">Le plus abordable</a></li>
                                <li><a href="">De A à Z</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main>
        <!-- Ecran scindé en deux -->
        <div id="listeResultat">
            <!-- Liste des articles dans la partie gauche (ou centrale si la carte est désactivé -->
            {% for host_table in host_tables %}


            <article>
                <div class="articleGauche">
                    <h2>{{ host_table.name }}&nbsp;&nbsp;&nbsp;<span style="color: #33d9b2;font-size: x-small;">Ouverture dans 2 heures</span></h2>
                    <p>{{ host_table.shortDescription }}</p>
                </div>
                {% if host_table.img|length > 0 %}
                    <div class="articleImg" style="background-image:url(img/{{ host_table.img[0] }})"></div>
                {% endif %}
            </article>
            {% else %}
                <p>no records found</p>
            {% endfor %}
        </div>
        <div id="map">
            <!-- Ajout de google API -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d5420.425156139337!2d-1.555480899836164!3d47.21242271623257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1srestaurant!5e0!3m2!1sfr!2sfr!4v1543832880671" allowfullscreen></iframe>
            <!-- Ajout d'un bouton switch pour afficher ou non la carte -->
            <!--<div id="boutonSwitch">
                <input class="switch" name="premium" id="premium" type="checkbox" checked>
                <label for="premium" class="ui-content" >
                    <div class="ui-switch">
                        <div class="ui-switch-handle">
                        </div>
                    </div>
                </label>
            </div>-->
        </div>
    </main>

    <a href="{{ path('host_tables_new') }}">Create new</a>
{% endblock %}
