{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/host_tables/show.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block body %}

    <main>
        <!--PHOTO-->
        <div class="big_img" id="big_img">
            <div class="photo" style="background-image:url({{ asset('/img/'~host_table.img | first) }})">
            </div>

            <!--MAP-->

        </div>
        <div class="presentation_reco">
            <div class="presentation">
                <div id="content">
                    <div id="nomTable">
                        <h1>{{ host_table.name }}</h1>
                        <!--ETOILE POUR FAVORIS-->
                        <fieldset class="rating">
                            <input type="radio" id="favori" name="rating" value="fav"/>
                            <label for="favori" title="Favoris"></label>
                        </fieldset>
                    </div>
                    <h3>
                        <span class="glyphicon glyphicon-map-marker"></span>
                        {{ host_table.city }}
                    </h3>
                    <h4>{{ host_table.address }}</h4>
                    <!--INFOS-->
                    <h4>{% for style in host_table.cookStyle %}
                            {{ style }}
                        {% endfor %}</h4>


                    <h4>Capacité : {{ host_table.capacity }} personnes</h4>
                    <p>{{ host_table.longDescription }}</p>

                    <div class="coord">
                        <table>
                            <tr>
                                <td><span class="glyphicon glyphicon-earphone"></span></td>
                                <td>{{ host_table.tel }}</td>
                            </tr>
                            <tr>
                                <td><span class="glyphicon glyphicon-globe"></span></td>
                                <td>{{ host_table.website }}</td>
                            </tr>
                            <tr>
                                <td><span class="glyphicon glyphicon-time"></span>
                                <td>Ouvert</td>
                            </tr>
                        </table>
                        <table id="horaires">
                            {% for day in hours %}

                            <tr>
                                <td>{{ day.day }}</td>
                                <td>{{ day.morningStart | date('H:i') }} - {{ day.morningEnd | date('H:i') }} | {{ day.eveningStart | date('H:i') }} - {{ day.eveningEnd | date('H:i') }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <div class="affluence">
                        <!--petit graph des horraires d'affluence comme sur google map-->
                    </div>
                    <!--NOTES ET AVIS-->
                    <div class="avis">
                        <div class="note_globale">
                            <h4>Note globale</h4>
                            <p class="note_finale">{{ host_table.note }}</p>
                            <p>
                            <fieldset class="rating">
                                <input type="radio" id="star5" name="rating" value="5"/>
                                <label class="full" for="star5" title="Parfait - 5 étoiles"></label>
                                <input type="radio" id="star4" name="rating" value="4"/>
                                <label class="full" for="star4" title="Très bon - 4 étoiles"></label>
                                <input type="radio" id="star3" name="rating" value="3"/>
                                <label class="full" for="star3" title="Bon - 3 étoiles"></label>
                                <input type="radio" id="star2" name="rating" value="2"/>
                                <label class="full" for="star2" title="Pas terrible - 2 étoile"></label>
                                <input type="radio" id="star1" name="rating" value="1"/>
                                <label class="full" for="star1" title="Mauvais - 1 étoile"></label>
                            </fieldset>
                            </p>
                        </div>
                        <p><strong>Résumé des avis</strong></p>
                        <p>137 avis</p>
                        <div id="notes_graph">
                            <div id="notes">
                                <fieldset class="etoile">
                                    <label class="full"></label>5<input type="radio" name="etoile"/>
                                </fieldset>
                                <fieldset class="etoile">
                                    <label class="full"></label>4<input type="radio" name="etoile"/>
                                </fieldset>
                                <fieldset class="etoile">
                                    <label class="full"></label>3<input type="radio" name="etoile"/>
                                </fieldset>
                                <fieldset class="etoile">
                                    <label class="full"></label>2<input type="radio" name="etoile"/>
                                </fieldset>
                                <fieldset class="etoile">
                                    <label class="full"></label>1<input type="radio" name="etoile"/>
                                </fieldset>
                            </div>
                            <div id="graph">
                                <img src="{{ asset('/img/graph_stars.png') }}">
                            </div>
                        </div>
                    </div>
                </div>

                <!--ADISE+MAP-->
                <div id="aside_map">
                    <!--ASIDE-->
                    <aside>
                        <div id="prix_pers">
                            <p id="prix">{{ host_table.minPrice }} €</p>
                            <p id="personne"> / convives</p>
                        </div>

                        {{ form_start(bookingForm) }}
                        <div id="date_heure">
                            <div class="date">
                                {{ form_label(bookingForm.date) }}
                               {{ form_widget(bookingForm.date) }}
                            </div>
                            <div class="heure">
                                {{ form_label(bookingForm.heure) }}
                                {{ form_widget(bookingForm.heure) }}
                            </div>
                        </div>
                        <div class="nb_conv">
                            {{ form_label(bookingForm.nb_convives) }}
                            {{ form_widget(bookingForm.nb_convives) }}
                        </div>
                        <p id="total">Total : KILIAN VA TROUVER €</p>

                        {{ form_widget(bookingForm.reserver) }}

                        {{ form_end(bookingForm) }}


                        {#<form>#}
                            {#<div id="date_heure">#}
                                {#<div class="date">#}
                                    {#<label for="date">Date</label>#}
                                    {#<input id="date" type="date" name="date">#}
                                {#</div>#}
                                {#<div class="heure">#}
                                    {#<label for="heure">Heure</label>#}
                                    {#<input id="heure" type="time" name="heure">#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="nb_conv">#}
                                {#<label for="nb_convives">Nombres de convives</label>#}
                                {#<select id="nb_convives" name="convives">#}
                                    {#<option value="1">1 convive</option>#}
                                    {#<option value="2">2 convives</option>#}
                                    {#<option value="3">3 convives</option>#}
                                    {#<option value="4">4 convives</option>#}
                                    {#<option value="5">5 convives</option>#}
                                    {#<option value="6">6 convives</option>#}
                                {#</select>#}
                            {#</div>#}
                            {#<p id="total">Total : {{ host_table.minPrice* }} €</p>#}
                            {#<button type="submit" id="reserver">Réserver</button>#}
                        {#</form>#}
                    </aside>


                    <!--MAP-->
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d10840.61684371198!2d-1.5496263515227333!3d47.21356483313492!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1snantes+tables+d&#39;h%C3%B4tes!5e0!3m2!1sfr!2sfr!4v1543842535842"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
            <!--SUGGESTIONS-->
            <div id="suggest">
                <p>Vous pourrez aussi aimer :</p>
                <li id="suggest_pics">
                    {% for suggest in suggests %}
                    <ul>
                        <a href="{{ suggest.id }}">
                            <div class="sugg_img" style="background-image:url({{ asset('/img/'~suggest.img | first) }})">
                                <div class="text_hover">
                                    {{ suggest.name }}
                                </div>
                            </div>
                        </a>
                    </ul>
                    {% endfor %}
                </li>
            </div>
        </div>
    </main>

    <footer>Aide | à propos | contact | réseaux sociaux | etc</footer>


{% endblock %}
