<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}La Table du Milieu{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('/css/base.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/navbar.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% block navbar %}
    <nav id="navbar">
        <ul>
            <li><a href="{{ path('home') }}">La Table du Milieu</a></li>
            <li>
                <form id="TopBarForm" action="{{ path('host_tables_search') }}" method="get">
                    <input list="tables" autocomplete="off" type="text" class="recherche" name="table" id="" placeholder="Recherchez une table">
                    <button type="submit"><i class="fas fa-search-location"></i></button>

                    <datalist id="tables">

                        {% for table in host_tables %}

                            <option value="{{ table.name }}"></option>

                        {% endfor %}


                    </datalist>

                </form>
            </li>
            <li>
                    {% if is_granted('ROLE_USER') %}<a href="{{ path('app_logout') }}">DECONNEXION</a>
                    {% else %}<a href="{{ path('app_login') }}">CONNEXION</a>{% endif %}
            </li>
        </ul>
    </nav>
    {% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}
        <footer>
            <!-- A compléter si on rajoute un pied de page (Ex: droits d'utilisation) -->
            <p class="follow">SUIVEZ-NOUS</p>
            <div class="social_img">
                <img src="{{ asset("/img/facebook-logo.svg") }}" alt="Facebook" style="height: 1.5em; width:1.5em;">
                <img src="{{ asset("/img/linkedin-sign.svg") }}" alt="Linkedin" style="height: 1.5em; width:1.5em;">
                <img src="{{ asset("/img/twitter-logo.svg") }}" alt="Twitter" style="height: 1.5em; width:1.5em;">
                <img src="{{ asset("/img/instagram-logo.svg") }}" alt="Instagram" style="height: 1.5em; width:1.5em;">
                <img src="{{ asset("/img/snapchat.svg") }}" alt="SnapChat" style="height: 1.5em; width:1.5em;">
                <img src="{{ asset("/img/youtube.svg") }}" alt="Youtube" style="height: 1.5em; width:1.5em;">
            </div>
            <p style="font-size: x-small;color: white;margin-left: 2em;margin-right: 2em;">
                © 2018 'La Table Du Milieu' Tous droits réservés. <a>Conditions d'utilisation</a> | <a>Politique de confidentialité</a> | <a>Politique d'utilisation des cookies</a> | <a>Accord d'utilisation des cookies</a> | <a>Plan du site</a>
            </p>
        </footer>
    {% endblock %}
    {% block javascripts %}{% endblock %}
    </body>

</html>
