{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div id="blocGeneral">
        <div id="myAccount">
            <p>Adresse email : {{ user.email }}</p>
            <label for="newPassword">Nouveau mot de passe</label>
            <input type="password" name="newPassword" id="newPassword" placeholder="Mot de passe">
            <label for="confPassword">Confirmation du nouveau mot de passe</label>
            <input type="password" name="confPassword" id="confPassword" placeholder="Mot de passe">
        </div>
        <div id="myBookings">
            <table>
                <thead>
                    <tr>
                        <td>Date de la réservation</td>
                        <td>Nom de la table</td>
                        <td>Nombre de personnes</td>
                        <td>Action</td>
                    </tr>
                </thead>
                {% for book in bookings %}
                <tr>
                    <td>{{ book.date }}</td>
                    <td>{{ book.name }}</td>
                    <td>{{ book.seats }}</td>
                    <td><a href="{{ path("user_delete"), {id: book.id} }}">Supprimer</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div id="myTables">
            <button>Nouvelle table</button>
            <table>
                <thead>
                <tr>
                    <td>Date de la réservation</td>
                    <td>Nom de la table</td>
                    <td>Nombre de personnes</td>
                    <td>Action</td>
                </tr>
                </thead>
                {% for hostTable in hostTables %}
                    <tr>
                        <td>{{ hostTable.name }}</td>
                        <td>{{ hostTable.min_price }}</td>
                        <td>{{ hostTable.note }}</td>
                        <td><a href="{{ path("user_delete"), {id: book.id} }}">Modifier</a></td>
                        <td><a href="{{ path("user_delete"), {id: book.id} }}">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
